{% extends "base.html" %}
{% block content %}

    <div class="page-wrapper">
        <div class="card">
            <h2>Contact Us</h2>
            <form method="POST" action="/contact">

                <input type="text" name="name" placeholder="Your Name" required>

                <input type="email" name="email" placeholder="Your Email" required>

                <input type="text" name="subject" placeholder="Subject" required>

                <textarea name="message" placeholder="Your Message" required></textarea>

                <button type="submit">Send Message</button>

            </form>
        </div>
    </div>

{% endblock %}